<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css" />
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css">
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

  <link rel='stylesheet' id='bootstrap-swa-css'
    href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css?ver=4.9.13'
    type='text/css' media='all' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"
    integrity="sha256-JirYRqbf+qzfqVtEE4GETyHlAbiCpC005yBTa4rj6xg=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"
    integrity="sha256-9wRM03dUw6ABCs+AU69WbK33oktrlXamEXMvxUaF+KU=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    jQuery(document).ready(function ($) {
      $("#sidebarToggle").on("click", function () {
        let toggled = $('body ul.sidebar').hasClass('toggled')
        Cookies.set('mycis_sidebar_toggled', toggled);
      });

      if (Cookies.get('mycis_sidebar_toggled') == 'true') {
        $("ul.sidebar div.collapse").removeClass('show')
      }

      $(document).ready(function () {
        // show active tab on reload
        if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');

        // remember the hash in the URL without jumping
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          if (history.pushState) {
            history.pushState(null, null, '#' + $(e.target).attr('href').substr(1));
          } else {
            location.hash = '#' + $(e.target).attr('href').substr(1);
          }
        });
      });

    });

  </script>
  <title>{% block title %}123{% endblock %}</title>
</head>

<body class="bg-light ">
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Menu Toggle</span>
    </button>
    <a class="sidebar-brand center-text" href="{% url 'logged_home' %}">
      <div class="sidebar-brand-text1">
        {% if MYCE_SETTINGS.show_logo == 'True' %}
        <img src="{% static 'images/logo.png' %}" class="d-none d-sm-inline-block" style='max-height: 60px;' alt="Logo">
        <!-- <img src="{% static 'images/myce.png' %}" class="d-none d-sm-inline-block" style="height: 60px; padding-left: 10px; margin-left: 20px; border-left: 2px solid #f47920;" alt="Logo"> -->
        {%else%}
        {{MYCE_SETTINGS.site_name }}
        {%endif%}
      </div>
    </a>
    <hr class="sidebar-divider my-0">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item d-block d-sm-none ">
        <img src="{% static 'images/logo.png' %}" style="max-height: 60px;" class="pt-1" alt="Logo">
      </li>
      {% if user.is_impersonate %}
      <li class="nav-item">
        <a  target="_parent" href="{% url 'impersonate-stop' %}" class="nav-link">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small"><span class="fa fa-ghost"
              aria-hidden="true"></span>&nbsp;&nbsp;Switch back to {{request.impersonator}}</span>
        </a>
      </li>
      {% endif %}

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small"><span class="fa fa-user"
              aria-hidden="true"></span>&nbsp;&nbsp;Logged in as {{user.username}}</span>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>

    </ul>

  </nav>
  <!-- end main nav -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul
      class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {% if request.COOKIES.mycis_sidebar_toggled == 'true' %}toggled{% endif %}"
      id="accordionSidebar">


      {{ menu|safe }}

      <hr class="sidebar-divider d-none d-md-block">
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="mt-4">
            {% block body %}
            Body content
            {% endblock %}
          </div>

        </div> <!-- end container-fluid -->


      </div> <!-- end #content -->

      <footer class="sticky-footer bg-white">
        <div class="">
          <div class="pl-3 pr-3">
            <div class="row">
              {% if MYCE_SETTINGS.show_logo == 'True' %}
              <div class="col-md-6">Contact Us<br>
                <a
                  href="#">Link 1</a>
              </div>
              <div class="col-md-6">Directions & FAQ<br>
                <a
                  href="#">Link 2</a>
              </div>
              {%else%}
              <div class="col-md-6">Contact Us<br>
                <a
                  href="#">Link 1</a>
              </div>
              <div class="col-md-6">Directions & FAQ<br>
                <a
                  href="#">Link 2</a>
              </div>
              {%endif%}

            </div>
          </div>
        </div>
        
      </footer>

    </div> <!-- end #content-wrapper -->
  </div> <!-- end #wrapper -->


  <script>
    jQuery(function ($) {
      $("table.dataTable").dataTable()

      $(function () {
        $('[data-toggle="popover"]').popover({ html: true, trigger: 'hover' })
      })
    });
  </script>

  <div class="modal fade" id="modal-add_new" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div id="modal_content"></div>
      </div>
    </div>
  </div>


</body>

</html>